<!doctype html>
<html lang="en" ng-app="TearDrop">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSF.NGS TearDrop</title>
  <link rel="stylesheet" href="[% config.base_uri %]/css/app.css"/>
  <link rel="stylesheet" href="[% config.base_uri %]/css/bootstrap.css" media="all">
  <link rel="stylesheet" href="[% config.base_uri %]/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="[% config.base_uri %]/#/">
        CSF.NGS teardrop
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
[% roadmap %]
</div>
<footer>
 <div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
     Contact <a href="mailto:heinz.ekker@csf.ac.at">heinz.ekker@csf.ac.at</a>
    </div>
  </div>
 </div>
</footer>

  <script src="[% config.base_uri %]/js/jquery.min.js"></script>

</body>
</html>
