    <div class="container-fluid">
     <div class="row" ng-if="mappings.length==0">
      <div class="col-md-12">
       <div class="alert alert-warning" role="alert">No valid genome mappings.</div>
      </div>
     </div>
     <div class="row" ng-repeat="map in mappings | orderBy:['match_ratio', 'tid', 'tstart', 'tend']" open="loadGenomeAlignments(map)">
      <div class="col-md-12">
       <div class="panel panel-primary">
        <div class="panel-heading">
         <h3 class="panel-title">{{map.tid}}: {{map.tstart | number}} - {{map.tend | number}} ({{map.match_ratio * 100}}%)</h3>
        </div>
        <div class="panel-body">
         <div class="row">
          <div class="col-md-12">
           <h5>Other Transcripts</h5>
           <accordion close-others="0">
            <accordion-group ng-repeat="ann in map.annotations | orderBy:'cstart' | filter:{'annotation_type': 'transcript'}">
             <accordion-heading>
              {{ann.cstart | number}} - {{ann.cend | number}} ({{ann.strand}}): {{ann.id}}/{{ann.name}}
             </accordion-heading>
             <p><a href="#/genes/{{ann.id}}">{{ann.id}}/{{ann.name}}</a></p>
             <p>{{ann.description}}</p>
             <ol>
              <li ng-repeat="trans in ann.children | orderBy:'cstart'">
               {{trans.cstart | number}} - {{trans.cend | number}}: <a href="#/transcripts/{{trans.id}}">{{trans.id}}/{{trans.name}}</a>
               <ol>
                <li ng-repeat="child in trans.children | orderBy:'cstart'" ng-init="child.hover=false">
                 {{child.hover}} {{child.cstart | number}} - {{child.cend | number}}: {{child.id}}/{{child.name}}
                </li>
               </ol>
               </ol>
              </li>
             </ol>
            </accordion-group>
           </accordion>
           <h5>Annotations</h5>
           <accordion close-others="0">
            <accordion-group ng-repeat="ann in map.annotations | orderBy:'cstart' | filter:{'annotation_type': 'gene_model'}">
             <accordion-heading>
              {{ann.cstart | number}} - {{ann.cend | number}} ({{ann.strand}}): {{ann.name || ann.id}}
             </accordion-heading>
             <span ng-show="ann.annotation_link"><a href="{{ann.annotation_link}}">{{ann.name}}</a></span>
             <ol>
              <li ng-repeat="child in ann.children | orderBy:'cstart'">
               {{child.cstart | number}} - {{child.cend | number}}: {{child.mtype}} {{child.id}}/{{child.name}}
               <ol>
                <li ng-repeat="child in child.children | orderBy:'cstart'">
                 {{child.cstart | number}} - {{child.cend | number}}: {{child.mtype}} {{child.id}}/{{child.name}}
                </li>
               </ol>
              </li>
             </ol>
            </accordion-group>
           </accordion>
          </div>
         </div>
         <div class="row">
          <div class="col-md-12">
           <accordion>
            <accordion-group open="loadGenomeAlignments(map)">
             <accordion-heading>View Alignment</accordion-heading>
              <div class="row"><div class="col-md-12">
               {{map.alignment.loading}}
               <alignment-viewer data="map"></alignment-viewer>
              </div></div>
            </accordion-group>
           </accordion>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
