     <div>
      <accordion>
       <accordion-group ng-repeat="map in mappings" open="loadGenomeAlignments(map)">
        <accordion-heading>
         {{map.tid}}: {{map.tstart | number}} - {{map.tend | number}}
        </accordion-heading>
         <div class="row">
          <div class="col-md-12">
           <nvd3-line-chart data="map.alignment"
              y="getArg('mismatch_rate')"
              width="1000"
              height="200"
              showXAxis="true"
              showYAxis="true"
              showLegend="true">
           </nvd3-line-chart>
          </div>
         </div>
         <div class="row">
          <div class="col-md-12">
           <nvd3-stacked-area-chart data="map.alignment"
              y="getArg('depth')"
              noData="Inte Data"
              width="1000"
              height="600"
              showXAxis="true"
              showYAxis="true"
              showLegend="true"
              style="stack"
              showControls="true">
           </nvd3-stacked-area-chart>
          </div>
         </div>
       </accordion-group>
      </accordion>
     </div>
