    <div>
     <div class="row" ng-repeat="map in mappings | orderBy:'match_ratio'" open="loadGenomeAlignments(map)">
      <div class="col-md-12">
       <div class="panel panel-primary">
        <div class="panel-heading">
         <h3 class="panel-title">{{map.tid}}: {{map.tstart | number}} - {{map.tend | number}} ({{map.match_ratio * 100}}%)</h3>
        </div>
        <div class="panel-body">
         <div class="row">
          <div class="col-md-12">
           <h5>Other Transcripts</h5>
           <accordion close-others="0">
            <accordion-group ng-repeat="ann in map.annotations | orderBy:'cstart' | filter:{'annotation_type': 'transcript'}">
             <accordion-heading>
              {{ann.cstart | number}} - {{ann.cend | number}} ({{ann.strand}}): <a href="#/genes/{{ann.id}}">{{ann.id}}/{{ann.name}}</a> 
             </accordion-heading>
             <ol>
              <li ng-repeat="trans in ann.mRNAs | orderBy:'cstart'">
               {{trans.cstart | number}} - {{trans.cend | number}}: <a href="#/transcripts/{{trans.id}}">{{trans.id}}/{{trans.name}}</a>
              </li>
             </ol>
            </accordion-group>
           </accordion>
           <h5>Annotations</h5>
           <accordion close-others="0">
            <accordion-group ng-repeat="ann in map.annotations | orderBy:'cstart' | filter:{'annotation_type': 'gene_model'}">
             <accordion-heading>
              {{ann.cstart | number}} - {{ann.cend | number}} ({{ann.strand}}): {{ann.name}}
             </accordion-heading>
             <ol>
              <li ng-repeat="mrna in ann.mRNAs | orderBy:'cstart'">
               {{mrna.cstart | number}} - {{mrna.cend | number}}: {{mrna.id}}/{{mrna.name}}
               <ol>
                <li ng-repeat="exon in mrna.exons | orderBy:'cstart'">
                 {{exon.cstart | number}} - {{exon.cend | number}}: {{exon.id}}/{{exon.name}}
                </li>
               </ol>
              </li>
             </ol>
            </accordion-group>
           </accordion>
          </div>
         </div>
         <div class="row">
          <div class="col-md-12">
           <accordion>
            <accordion-group open="loadGenomeAlignments(map)">
             <accordion-heading>View Alignment</accordion-heading>
              <div class="row"><div class="col-md-12">
               {{map.alignment.loading}}
               <alignment-viewer data="map"></alignment-viewer>
              </div></div>
            </accordion-group>
           </accordion>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
