<div>
 <p>
  <form class="form-inline" role="form" ng-if="showTagSelector">
   <select class="form-control input-sm" ng-model="selectedTag" ng-options="tag.tag for tag in tags">
    <option value=""><i>pick tag...</i></option>
   </select>
   <button class="btn btn-sm" ng-click="param.addTag(selectedTag)">Add</button>
   Assembly: <select class="form-control input-sm" name="assembly" ng-model="param.filters.assembly_id" ng-change="setAssembly()" ng-options="assembly.id as assembly.name for assembly in assemblies | orderBy:'name'" ng-show="showAssemblySelector">
    <option value="">ALL</option>
   </select>
  </form>
  <button ng-click="param.getFasta()" class="btn btn-sm">Get FASTA file</button>
 </p>
 <p>
  <span ng-repeat="tag in param.selectedTags" class="label" ng-class="'label-'+tag.level">{{tag.tag}} <i class="glyphicon glyphicon-remove" ng-click="param.removeTag(tag)"></i></span>
 </p>
 
 <pagination items-per-page="param.pagingOptions.pagesize" total-items="param.pagingOptions.total_items" ng-model="param.pagingOptions.page" max-size="10" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
 <div ui-grid="gridOptions" class="grid"></div>
</div>
