/* app css stylesheet */

.navbar.navbar-default {
  background-color: #4E5517;
  border-radius: 0;
}
.navbar.navbar-default .navbar-text {
  color: #fff;
}
.navbar.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: none;
  font-size: 14px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.grid {
  width: 90%;
}

.grid-fw {
  width: 1000px;
}

.theader div.form-group {
  margin-bottom: 0px;
}

.theader div.form-group .control-label {
  padding-top: 6px;
}

.theader div.form-control,p.form-control-static {
  margin-bottom: 0px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.list-group.alignment-samples .list-group-item {
  padding: 5px 7px;
  font-size: .8em;
}
.list-group.alignment-samples .list-group-item .badge {
  font-size: 1em;
  min-width: 15px;
}

.panel h4.panel-title {
  font-size: 13px;
  font-weight: bold;
  color: #333;
}
