'use strict';

// Declare app level module which depends on views, and components
angular.module('TearDrop', [
  'ngRoute',
  'TearDrop.transcripts',
  'TearDrop.deresults'
]).
config(['$routeProvider', function($routeProvider) {
  $routeProvider.when('/', {
    templateUrl: '[% config.base_uri %]/app/home.html',
    controller: 'RootCtrl'
  })
  .otherwise({redirectTo: '/'});
}])
.controller('RootCtrl', [function() {
}]);
