<h1>Welcome to TearDrop</h1>
<p>This is the Transcriptome and Expression Annotation Reviewing (TEAR) drop point for analysis and manual curation of Transcriptome Assembly and Differential Expression results.</p>
